.btn {
  background-color: #001165c2;
  margin-left: 4px;
}

.card {
  margin-bottom: .5rem;
  margin-top: 4rem;
}

#media-row p {
  margin-top: 0px;
  width: 120px;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.thumbnail {
  height: 89px;
}

.dropzone{
  display: table;
  width:100%;
  height:65vh;
  padding: 1%;
  border:2px #9c27b0;
  color: #39276999;
  text-align:center;
}

.dropzone.dragover{
  border-color:#000;
  color:#000;
}

.dropzone.dropped{
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
}

.insidedrop {
  text-align:center; 
  vertical-align: middle;
  display: table-cell; 
}

.insidedrop i {
  font-size: 4rem;
}

.parent { 
  width: 120px; 
}

.wrapper {
        position: relative;
        z-index:5;
}

.overlay {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        background: rgba(0,0,0,0.2);
        z-index:9;
        color:#fff;
        overflow:hidden;
}

.object {
        display: inline-block;
        width:100%;
        text-align:center;
        vertical-align:middle;
        overflow:hidden;
        margin: 0 auto;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}
