.panel {
	padding: 20px;
}

.media {
	height: 390px;
}

.prop {
	max-width: 370px;
    max-height: 380px;
	padding: 10px 0px 10px 0px;
	margin: auto;
}

.no-prop {

}

.nav-button {
	color: black;
    margin-right: 5px;
    background-color: #ffffff;
}

.divider {
	margin: 20px 0px 20px 0px;
}

.btn:hover {
	background-color: #001165c2;
	color: white !important;
}

#btn-done {
	border: 2px solid #ccc!important;
	border-radius: 2px;
}

.media-placeholder {
	height: 100%;
}

.material-placeholder {
	margin: auto;
}