html {
  font-family: "Pill Gothic 300mg Regular";
  font-style: normal;
  font-weight: 400;
}

.card.horizontal .about-card-image {
    background-image: url('http://localhost/gallery/public/img/photos/front/thumbnails/001.jpg');
    background-size:     cover;   
    background-repeat:   no-repeat;
    height: inherit;
    background-position: center center;          
    width: 25%;
    background-color: black;
    min-height: 185px;
}

.author-name {
    font-style: italic;
}

.back-button {
	margin-left: 15px;
}

.poem-card {
	background-image: url('http://localhost/gallery/public/img/photos/front/001.jpg');
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
    background-attachment: fixed;
}

.poem-card .card-stacked {
	background-color: transparent;
}

.poem-card .card-action {
	background-color: transparent;
}

.poem-card .card-stacked .card-content p {
	background-color: #151515bd;
    padding: 2%;	
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}