@font-face {
    font-family: "Pill Gothic 300mg Regular";
    src: url('http://localhost/gallery/public/fonts/Pill_Gothic_300mg_Regular.ttf');
}

html {
  font-family: "Pill Gothic 300mg Regular";
  font-style: normal;
  font-weight: 400;
}

body {
    background-image: url('http://localhost/gallery/public/img/helper/public/background/degrade2.jpg');
    /*background-color: black;*/
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
    background-attachment: fixed;
}

nav {
	background-color: rgba(255, 255, 255, 0.5);
}

.card-title {
    text-shadow: 2px 2px #000000 !important;
}

.back-button {
	margin-left: 15px;
}

.photo-content {
	    margin-top: 5%;
}

.my-logo {
	width: 300px;
	height: 100%;
	padding-left: 22px;
}

/* label color */
.input-field label {
 color: white;
}

/* label focus color */
.input-field input[type=text]:focus + label {
 color: white;
}

/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid white;
 box-shadow: 0 1px 0 0 white;
}

/* icon prefix focus color */
.input-field .prefix.active {
 color: white;
}

.input-field, textarea{
	color: white;
}

.board {
	display: none;
	background-color: rgba(255, 255, 255, 0.5);
}

.board .filter-label {
	font-weight: normal;
	color: white;
	font-size: 1.2em;
}

.second-bar {
	background-color: rgba(255, 255, 255, 0.5);
    height: 60px;
}

.second-logo {
	font-size: 2.1rem;
	margin-left: 15px
}

.search-bar {
	width: 80%;
}

nav ul {
	width: 40%;
}

nav ul li {
	width: 10%;
}

@media only screen and (max-width: 992px) {
    nav ul {
    	width: 100%;
    }

    .search-bar {
		width: 70%;
	}

	nav ul li {
		width: 15%;
	}
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}