body {
  background-image: url('http://localhost/gallery/public/img/helper/public/background/degrade2.jpg');
  /*background-color: black;*/
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
  background-attachment: fixed;
}

@font-face {
    font-family: "Pill Gothic 300mg Regular";
    src: url('http://localhost/gallery/public/fonts/Pill_Gothic_300mg_Regular.ttf');
}

html {
  font-family: "Pill Gothic 300mg Regular";
  font-style: normal;
  font-weight: 400;
}

#marks img {
  height: 9em;
  width: 9em;
}

.btn-floating {
  background-color: #080671;
}

.btn-floating:hover {
  background-color: #6260c1;
}

.slider .indicators .indicator-item.active {
    background-color: #575757;
}

.slider .slides li .caption {
    color: #fff;
    position: absolute;
    top: 60%;
    left: 15%;
    width: 70%;
}

.pill-font {
  font-family: "Pill Gothic 300mg Regular";
  font-style: normal;
  font-weight: 400;
}

.slides h5 {
 text-shadow: 2px 2px #000000;
}

.slides h3 {
 text-shadow: 2px 2px #000000;
}

.card-title strong {
  text-shadow: 2px 2px #000000;
}

.back-button {
  margin-left: 15px;
}

.custom-side-nav {
    margin-top: auto;
    margin-bottom: auto;
}

.author-name {
    font-style: italic;
}

.contact-padding p {
  padding-left: 10px;
}

.card-content-med {
  height: 181.41px;
}


.card-image-horizontal {
  width: 100%;
  height: 370px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-image-vertical {
  width: 100%;
  height: 370px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-image-square {
  width: 100%;
  height: 257.41px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-image-square-big {
  width: 100%;
  height: 370px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-square {
  height: 327.41px;
  width: 100%;
}

#contact img {
  height: 260px;
}

.side-nav {
	background-color: rgba(255, 255, 255, 0.5);
  display: flex;
}

.side-nav li>a {
    font-size: 16px;
}

div.row {
	margin: -14px;
}

/* scrollspy setting */
.table-of-contents a.active {
    font-weight: 700;
    padding-left: 18px;
    border-left: 3px solid white;
  }

header, main, footer {
  padding-left: 200px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}