nav {
	background-color: #001165c2;
}

body {
	background-color: #f3f2f2;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
    background-attachment: fixed;
}

.collapsible-body {
    background-color: white;
}

.settings-btn {
	background-color: #3a4787;
    color: #ffffff;
}