@font-face {
    font-family: "Pill Gothic 300mg Regular";
    src: url('http://localhost/gallery/public/fonts/Pill_Gothic_300mg_Regular.ttf');
}

html {
  font-family: "Pill Gothic 300mg Regular";
  font-style: normal;
  font-weight: 400;
}

.thumb-card {
	width: 100%;
    height: 100px;
    margin-top: 11%;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.no-margin-top {
    margin-top: 0px;
}

.slider {
    margin: auto;
    width: 80%;
    height: 74vh;
}

.slider .slides {
    height: inherit;
}

#prev-button {
    position: absolute;
    z-index: 10;
    margin-top: 175px;
    left: 17%;
}

#next-button {
    position: absolute;
    z-index: 10;
    margin-top: -225px;
    left: 94%;
}

.selected {
    background-color: #ffffff57;
}

.modal-primary-text {
    font-weight: bold;
    font-size: 12px;
    color: #908a8a;
}

.modal-secondary-text {
    color: black;
}

.back-button {
	margin-left: 15px;
}

.thumb-card img {
	position: relative;
    width: 100%;
}

.label {
	background-color: #ffffff4d;
    margin-left: 9%;
    margin-right: 9%;
    padding: 2%;
    font-size: 18px;
}

.circle-base {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    background: #ffffff94;
    border: 3px solid white;
    margin: auto;
}

.arrow-button {
	margin: 20%;
}

.no-padding-left {
	padding-left: 0px;
}

.navbar-fixed nav {
    background-color: transparent;
}

.navbar-fixed nav, nav-wrapper {
	background-color: transparent;
}

.custom-side-nav {
	position: fixed;
	width: 15%;
	height: 100%;
	padding-bottom: 7%;
	background-color: transparent;
	overflow: hidden;
}

div.custom-side-nav:hover {
	overflow-y: scroll;
}

.custom-side-nav .container {
	height: 100%;
}

.custom-side-nav .container .row {
	height: 100%;
}

.custom-side-nav .container .row p{
	margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
}

.main-side {
	padding: 1%;
	width: 100%;
	height: 100%;
}

html, body, main {
	height: 100%;
}

@media only screen and (min-width: 993px) {
.main-side .container {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 601px) {
.main-side .container {
    width: 100%;
    height: 100%;
}

header, main, footer {
	padding-left: 15%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}