/*
body {
	background-image: url('/gallery/public/img/helper/dashboard/background.jpg');
}*/

@font-face {
    font-family: "Pill Gothic 300mg Regular";
    src: url('http://localhost/gallery/public/fonts/Pill_Gothic_300mg_Regular.ttf');
}

html {
  font-family: "Pill Gothic 300mg Regular";
  font-style: normal;
  font-weight: 400;
}

body {
	margin: 0;
  height: 100vh;
  font-family: "Arial",sans-serif;
  background-color: #80808047;
}

header, main, footer {
    padding-left: 300px;
}

.btn-floating {
 background-color: #080671;
}

.slider .slides {
  height: 72vh;
}

.carousel {
  max-height: 80px;
}

.carousel-item {
  max-height: 80px;
  max-width: 80px;
}


.my-logo {
	width: 300px;
	height: 100%;
	padding-left: 22px;
}

.side-nav {
	margin-top: 64px;
}

.no-padding-left {
	padding-left: 0px;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box {
    font-size: 1.25rem;
    background-color: #c8dadf;
    position: relative;
    padding: 100px 20px;
}

.box.has-advanced-upload {
  background-color: #c8dadf;
  outline: 2px dashed black;
  outline-offset: -10px;
}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.is-dragover {
  background-color: grey;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}